.InputPassword {
  position: relative;
  width: 100%;

  .input {
    width: 100%;
    min-height: 34px;
    max-height: 39px;
    margin: 0;
    border: 0;
    padding: 8px 15px;
    font-family: Gordita, sans-serif;
    font-size: 1.2857142857em;
    line-height: 1.3571428571em;
    font-weight: 500;
    border-radius: 100px;
    color: rgb(255 255 255 / 15%);
    background: rgb(255 255 255 / 15%);
  }

  .visible {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 45px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 110%;
      height: 2px;
      border-radius: 10px;
      opacity: 0;
      background-color: #fff;
      transform: rotate(45deg);
      transition: 0.2s opacity ease;
    }

    &[data-active='false'] {

      &::after {
        opacity: 1;
      }
    }

    img {
      height: 20px;
    }
  }
}
