.login-form-wrapper {
  background: radial-gradient(173.85% 93.22% at -20.31% 121.15%, #000301 11.52%, rgb(162 0 165 / 29%) 100%), radial-gradient(147.17% 80.33% at 133.69% 47.39%, #240093 11.52%, rgb(2 127 165 / 34%) 100%), radial-gradient(161.91% 88.38% at -28.22% 50%, #000 11.52%, rgb(127 0 0 / 24%) 100%);
  height: 100vh;


  .title {
    padding-top: 40px;
    font-size: calc(18.66667px + 0.41667vw);
    line-height: normal;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 360px;
    margin: auto;
    border: 2px solid rgb(43 47 84 / 40%);
    padding: 25px;
    transition: 0.12s ease-out;
    background-color: #000;
    box-shadow: var(--authWindowShadow);
    backdrop-filter: blur(4px);
    border-radius: 16px;
  }

  .or {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 20px 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    place-content: center;
  }

  .InputPassword {
    width: 100%;
  }

  input {
    width: 100%;
    background: rgb(255 255 255 / 15%);
    border-radius: 100px;
    border: 0;
  }

  .submit-button {
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(255 255 255 / 15%);
    margin-top: 30px;
    box-shadow: none;
    text-shadow: none;

    span {
      opacity: 0.4;
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      color: #fff;
      font-family: Gordita, sans-serif;

      &::before {
        content: '';
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        opacity: 0.3;
        border-radius: 1px;
      }
    }
  }

  .restore-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    display: inline-block;
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 15px;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.3s color ease-in-out;

    span {
      font-size: 12px;
      line-height: normal;
      font-weight: 500;
      color: #fff;
      text-decoration: underline;
    }
  }

  .signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(255 255 255 / 15%);
    margin-top: 30px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;

    a {
      text-decoration: none;
      text-underline: none;
    }

    span {
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      color: #fff;
      font-family: Gordita, sans-serif;
    }
  }

  .handle-back-in-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    margin: 20px auto;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    background: rgb(255 255 255 / 20%);

    span {
      font-size: 14px;
      line-height: 15px;
      font-weight: 700;
      color: #fff;
      font-family: Gordita, sans-serif;
    }
  }
}
