.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  inset: 0;
  height: 100vh;
  background: var(--preloader-bg);

  img {
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {

    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(1turn);
    }
  }
}
